In [1]:
pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (from mysql_connector_python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
import pandas as pd

In [5]:
src = mysql.connector.connect(user='root', password='', host='localhost', database='bankdb')
cursor = db.cursor(dictionary = True)

In [ ]:
# COPY TABLE NAMES INTO AN ARRAY
query = "SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'bankdb';"
cursor.execute(query)
info = cursor.fetchall()

In [ ]:
# COPY EVERYTHING INTO A DATAFRAME
dst = mysql.connector.connect(user='', password='', host='', database='')
for i in info:
    query = 'SELECT * FROM ' + i[0] + ';'
    df = pd.read_sql(query, src)
    df.to_sql(name=i[0], con=dst, index=False, if_exists='replace')
dst.commit()
dst.close()

In [ ]:
# FUNCTION
def db_backup():
    #COPY TABLE NAMES INTO AN ARRAY
    query = "SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'bankdb';"
    cursor.execute(query)
    info = cursor.fetchall()
    # COPY EVERYTHING INTO A DATAFRAME
    dst = mysql.connector.connect(user='', password='', host='', database='')
    for i in info:
        query = 'SELECT * FROM ' + i[0] + ';'
        df = pd.read_sql(query, src)
        df.to_sql(name=i[0], con=dst, index=False, if_exists='replace')
    dst.commit()
    dst.close()