In [115]:
pip install mysql_connector_python

Requirement already satisfied: mysql_connector_python in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (from mysql_connector_python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [116]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/francisdavidbustos/anaconda3/lib/python3.11/site-packages (from SQLAlchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [117]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

In [118]:
engine = create_engine("mysql+pymysql://root:thereisnopassword@34.94.165.202/banking_system")

In [119]:
src = mysql.connector.connect(user='root', password='thereisnopassword', host='34.94.165.202', database='banking_system')
cursor = src.cursor(dictionary = True)

In [120]:
# COPY TABLE NAMES INTO AN ARRAY
query = "SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'banking_system';"
cursor.execute(query)
info = cursor.fetchall()
info

[{'TABLE_NAME': 'Account'},
 {'TABLE_NAME': 'Branch'},
 {'TABLE_NAME': 'Employee'},
 {'TABLE_NAME': 'Person'},
 {'TABLE_NAME': 'Transaction'},
 {'TABLE_NAME': 'UserCredentials'},
 {'TABLE_NAME': 'temp_person'}]

In [124]:
# COPY EVERYTHING INTO A DATAFRAME
dst = mysql.connector.connect(user='root', password='', host='localhost', database='bankdb')
dst = create_engine("mysql+pymysql://root@localhost/bankd")
for i in info:
    query = 'SELECT * FROM ' + i['TABLE_NAME'] + ';'
    df = pd.read_sql(query, engine)
    df.to_sql(name=i['TABLE_NAME'], con=dst, index=False, if_exists='replace')
dst.dispose()

In [ ]:
# FUNCTION
def db_backup():
    #COPY TABLE NAMES INTO AN ARRAY
    query = "SELECT table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' AND table_schema = 'banking_system';"
    cursor.execute(query)
    info = cursor.fetchall()
    # COPY EVERYTHING INTO A DATAFRAME
    dst = create_engine("mysql+pymysql://root@localhost/bankd")
    for i in info:
        query = 'SELECT * FROM ' + i['TABLE_NAME'] + ';'
        df = pd.read_sql(query, src)
        df.to_sql(name=i[0], con=dst, index=False, if_exists='replace')
    dst.dispose()